<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body>
    {% block content %}
    <form method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {% for field in upload_form %}
            <tr>
                <th>{{ field.label }}</th>
                <td>{{ field }}</td>
            </tr>
            {% endfor %}
        </table>
        <button type="submit">
            Submit
        </button>
    </form>



    {% endblock %}

</body>

</html>