<html>

<body>
<div align="center">
<form action="display">
	<table border >
		<tr>
			<td>Alumni ID : </td>
			<td><input type="text" name="aid" placeholder="ID"></td>
		</tr>
		<tr>
			<td>Alumni Name : </td>
			<td><input type="text" name="name" placeholder="Name"></td>
		</tr>
		<tr>
			<td>Alumni Age : </td>
			<td><input type="text" name="age" placeholder="Age"></td>
		</tr>
		<tr>
			<td>Alumni Address : </td>
			<td><input type="text" name="address" placeholder="Address"></td>
		</tr>
		<tr>
			<td colspan="3"><input type="submit" name="submit" value="Submit"style="background-color:skyblue;width:100%;"></td>
		</tr>
	</table>
</form>
</div>

</body>
</html>