<html>

<head>
    <title>HOME</title>
    <h1 style="text-align: center;">Alumni Form</h1>
</head>

<body>
    <table border="2px">
        <form action="display">
            <tr>
                <td>USN : </td>
                <td><input type="text" name="usn"></td>
            </tr>
            <tr>
                <td>Name : </td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>Address : </td>
                <td><input type="text" name="address"></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="submit"></td>
            </tr>
        

        </form>
    </table>

</body>

</html>